USE [master]
GO
/****** Object:  Database [TravelAgency]    Script Date: 19.04.2023 20:22:14 ******/
CREATE DATABASE [TravelAgency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelAgency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TravelAgency.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelAgency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TravelAgency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelAgency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelAgency]
GO
/****** Object:  User [Kristina]    Script Date: 19.04.2023 20:22:14 ******/
CREATE USER [Kristina] FOR LOGIN [Kristina] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [KristinaRole]    Script Date: 19.04.2023 20:22:15 ******/
CREATE ROLE [KristinaRole]
GO
ALTER ROLE [KristinaRole] ADD MEMBER [Kristina]
GO
/****** Object:  SqlAssembly [Database123]    Script Date: 19.04.2023 20:22:15 ******/
CREATE ASSEMBLY [Database123]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300D45C24640000000000000000E00022200B013000000E000000060000000000005A2D00000020000000400000000000100020000000020000040000000000000006000000000000000080000000020000C5220000030060850000100000100000000010000010000000000000100000000000000000000000082D00004F00000000400000A802000000000000000000000000000000000000006000000C000000D02B00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000600D000000200000000E000000020000000000000000000000000000200000602E72737263000000A8020000004000000004000000100000000000000000000000000000400000402E72656C6F6300000C00000000600000000200000014000000000000000000000000000040000042000000000000000000000000000000003C2D00000000000048000000020005005C220000F408000009000000000000000000000000000000502B00008000000000000000000000000000000000000000000000000000000000000000000000001B3002009E0000000100001100000F00280600000A2D150F01280600000A2D0C0F02280700000A16FE012B01160A062C5B000F01280800000A280900000A0B07280A00000A16FE010C082C0707280B00000A260F01280800000A0F02280C00000A730D00000A0D0009028C080000016F0E00000A0000DE0B092C07096F0F00000A00DC7E1000000A1304DE1B7201000070731100000A7A13050011056F1200000A731300000A7A11042A0000011C000002005B00116C000B00000000000001008A8B00100A0000012202281400000A002A00000013300100110000000200001100027B01000004731500000A0A2B00062A000000133002005200000003000011000314281600000A281700000A281800000A0B072C0E00027E1900000A7D010000042B2D03281A00000A0A0672310000706F1B00000A0C082C0B0002067D01000004002B0C007237000070731100000A7A2A0000133001000C0000000400001100027B010000040A2B00062A13300100110000000500001100027B01000004281C00000A0A2B00062A000000133002001B00000006000011001200FE150300000212007E1900000A7D01000004060B2B00072A00133002002B00000007000011000F00280600000A0B072C0828070000060C2B151200FE1503000002120002280400000600060C2B00082A3A0002036F1D00000A7D010000042A3E0003027B010000046F1E00000A002A000042534A4201000100000000000C00000076342E302E33303331390000000005006C0000002C030000237E0000980300002003000023537472696E677300000000B806000060000000235553001807000010000000234755494400000028070000CC01000023426C6F6200000000000000020000015717A2010900000000FA013300160000010000001800000003000000010000000A00000007000000020000001E000000050000000700000001000000030000000400000001000000020000000000A3010100000000000600ED005D0206000D015D020600A8004A020F007D0200000600CD02C5010A00D80029020A00CC018C020A0086018C020600040214000600DF01C5010A00C60229020A00BC00290206008A00C5010A004B008C020A006A0129020600F701140006001C0214000600990114000600F90214000600E901140006001102140006005500C5010600D701C50106009201C501000000000B00000000000100010001001000AA020000150001000100092110003F01000035000100030001004B016E00502000000000960061003E010100182100000000861844020600040024210000000086082B0149010400442100000000860835014E010400A42100000000C600900126000500BC2100000000E609BA0122000500DC21000000009608B1015401050004220000000096009C00590105003B2200000000E6013300600106004A2200000000E601A2006601070000000100EC02000002009E01000003003800000001005C0100000100C40200000100480200000100F1020300390003003D00090044020100110044020600190044020A003100440206006100440210004100BA0122003900BA01220041005201260091006F002A009900BF022F009900F3023400390052012200490044023A00A90080004000B10094000600390065014500B9004402490051003F0026005100440249002900440206004100440249004100D4025900410003035F00390062016800C10017036E004100E0027100C100A1027700C1000F032F0081007B0126008900A200490020002300AB012E000B007A012E00130083012E001B00A20163002B00B00116004E0053007C00800084008B0003000100000045016C010000BE0171010000C0017501020003000300010004000300020006000500020007000700048000000000000000000000010000009C000100000004000000000000000000000093002A000000000004000000000000000000000093001E00000000000000000000446174616261736531003C4D6F64756C653E0053797374656D2E494F0053797374656D2E44617461006D73636F726C6962005265616400617070656E64006765745F4D65737361676500494E756C6C61626C650049446973706F7361626C650057726974655465787446696C65004765744469726563746F72794E616D650057726974654C696E650056616C75655479706500446973706F73650050617273650057726974650044656275676761626C654174747269627574650053716C55736572446566696E6564547970654174747269627574650053716C46756E6374696F6E41747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465006765745F526F757465007365745F526F75746500437573746F6D526F757465005F726F757465006765745F56616C75650076616C7565006F705F54727565004942696E61727953657269616C697A650052656164537472696E670053716C537472696E6700546F537472696E6700506174680070617468004461746162617365312E646C6C006765745F4E756C6C006765745F49734E756C6C0053797374656D0053716C426F6F6C65616E00417267756D656E74457863657074696F6E004469726563746F7279496E666F0042696E6172795265616465720053747265616D57726974657200546578745772697465720042696E617279577269746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C547970657300436F6E7461696E730055736572446566696E656446756E6374696F6E730045786973747300466F726D6174004F626A656374006F705F496D706C69636974006F705F4578706C6963697400746578740077004372656174654469726563746F7279006F705F457175616C6974790049734E756C6C4F72456D70747900000000002F53006F006D0065002000610074007400720069006200750074006500200061007200650020006E0075006C006C0000052D003E00012752006F0075007400650020006900730020006E006F0074002000760061006C00690064002E000000CF29DB90BBC35E468CD3F1BC894020450004200101080320000105200101111105200101112D0B0706020E021225111D1229032000020320000E0400010E0E040001020E05000112510E052002010E02042001011C0306111D042001010E04070111210507030E020205000111210E080002111D1121112105000102111D02060E0500010E1121042001020E0307010E03070102060702110C110C070703110C02110C08B77A5C561934E08980A00024000004800000940000000602000000240000525341310004000001000100852C8B9782622029D14DBC55B051D135FCEE1D36CEB7096A33DB8548CD2DEAB3BA3ACBA03373068647EE6DA2D28083340F1B05ED03E737737563EF6C9B557F3108D1CFAE99A438791FCF87C78478E7F7489A69675E4CA330673EF83E88BB5B4ECD806AD2C782AC754F7EFE5DBD94D1A4EF348F1FBCC1A1A7B81DE5DE8E0809BB0A0003111D11211121111D0420001121052001011121040000110C060001110C1121052001011241052001011245042800112103280002040800110C0801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730108010007010000000004010000001A010002000000010054080B4D61784279746553697A65FFFFFFFF00B21AC3BD73203A11EF17707000DA9580E4E75D515C91DEBDDB403110A945A8EC16903A4FE5027C721D5ADA6FE48C54B12A4451218FE0D36096B1B40DAF31E163B2CBBA4D72481B2D205B15E4FDB85F6FA56C20D83BD3A9EF01D910111DCDE708437887CE41655618E552FC3A0DAE7DEF0368D39F387DEBD227E31593C6DA782A00000000D45C246400000000020000001C010000EC2B0000EC0D00005253445383462292620E254181CAEED75A58FF8201000000433A5C756E697665725C73656D657374725F365C44425C6C6162735C6C6162335C4461746162617365315C4461746162617365315C6F626A5C44656275675C4461746162617365312E70646200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000302D000000000000000000004A2D00000020000000000000000000000000000000000000000000003C2D0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001001000000018000080000000000000000000000000000001000100000030000080000000000000000000000000000001000000000048000000584000004C02000000000000000000004C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004AC010000010053007400720069006E006700460069006C00650049006E0066006F0000008801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000003C000E00010049006E007400650072006E0061006C004E0061006D00650000004400610074006100620061007300650031002E0064006C006C0000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000044000E0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004400610074006100620061007300650031002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C0000005C3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = EXTERNAL_ACCESS
GO
/****** Object:  UserDefinedType [dbo].[CustomRoute]    Script Date: 19.04.2023 20:22:15 ******/
CREATE TYPE [dbo].[CustomRoute]
EXTERNAL NAME [Database123].[CustomRoute]
GO
/****** Object:  UserDefinedFunction [dbo].[CountTour]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[CountTour](@idCountry int)
RETURNS int
AS
-- Returns the stock level for the product.
BEGIN
    DECLARE @res int;
    SELECT @res = count(idTours) 
    FROM Tours
    WHERE Tours.idCountry = @idCountry;
     IF (@res IS NULL)
        SET @res = 0;
    RETURN @res;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[SelectNumberOperator]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[SelectNumberOperator] (@name nvarchar(150))
	returns nvarchar(255)
	begin
		return (select phoneNumber from Touroperators where name=@name);
	end
GO
/****** Object:  UserDefinedFunction [dbo].[SelectTours]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[SelectTours] (@idCountry int)
	returns nvarchar(255)
	begin
		return (select tourName from Tours where idTours=@idCountry);
	end
GO
/****** Object:  UserDefinedFunction [dbo].[WriteTextFile]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[WriteTextFile](@text [nvarchar](max), @path [nvarchar](max), @append [bit])
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Database123].[UserDefinedFunctions].[WriteTextFile]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[idVoucher] [int] IDENTITY(1,1) NOT NULL,
	[idTour] [int] NULL,
	[voucherName] [nvarchar](255) NULL,
	[descr] [nvarchar](255) NULL,
	[price] [money] NULL,
	[numberOfPeople] [int] NULL,
	[nutrition] [bit] NULL,
	[accommodation] [bit] NULL,
	[hot] [bit] NULL,
	[discount] [int] NULL,
	[node] [hierarchyid] NULL,
	[position] [int] NULL,
	[LEVEL]  AS ([node].[GetLevel]()) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[idVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[idOrder] [int] IDENTITY(1,1) NOT NULL,
	[idVoucher] [int] NULL,
	[customer] [nvarchar](255) NULL,
	[pay] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CustomerVoucher]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[CustomerVoucher] as
select O.customer, V.voucherName
from Orders as O join Vouchers as V
on O.idVoucher = V.idVoucher;
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[idTours] [int] IDENTITY(1,1) NOT NULL,
	[idCountry] [int] NULL,
	[idOperator] [int] NULL,
	[tourName] [nvarchar](255) NULL,
	[descr] [nvarchar](255) NULL,
	[tourRoute] [geometry] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTours] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[NumberPeopleTour]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[NumberPeopleTour] as
select T.tourName, V.numberOfPeople
from Vouchers V join Tours as T
on V.idTour = T.idTours
GO
/****** Object:  Table [dbo].[Touroperators]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Touroperators](
	[idOperator] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NULL,
	[phoneNumber] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[idOperator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CuctomerOperator]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CuctomerOperator] as
select O.customer, TR.name, TR.phoneNumber, T.tourName, T.descr, V.price
from Orders as O join Vouchers as V 
on O.idVoucher = V.idVoucher
join Tours as T
on V.idTour = T.idTours
join Touroperators as TR
on T.idOperator = TR.idOperator
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[idCountry] [int] IDENTITY(1,1) NOT NULL,
	[country] [nvarchar](50) NULL,
	[visa] [bit] NULL,
	[CountryMap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geometry_columns]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geometry_columns](
	[f_table_catalog] [varchar](128) NOT NULL,
	[f_table_schema] [varchar](128) NOT NULL,
	[f_table_name] [varchar](256) NOT NULL,
	[f_geometry_column] [varchar](256) NOT NULL,
	[coord_dimension] [int] NOT NULL,
	[srid] [int] NOT NULL,
	[geometry_type] [varchar](30) NOT NULL,
 CONSTRAINT [geometry_columns_pk] PRIMARY KEY CLUSTERED 
(
	[f_table_catalog] ASC,
	[f_table_schema] ASC,
	[f_table_name] ASC,
	[f_geometry_column] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[xml_column] [xml] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spatial_ref_sys]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spatial_ref_sys](
	[srid] [int] NOT NULL,
	[auth_name] [varchar](256) NULL,
	[auth_srid] [int] NULL,
	[srtext] [varchar](2048) NULL,
	[proj4text] [varchar](2048) NULL,
PRIMARY KEY CLUSTERED 
(
	[srid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[world_countries]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[world_countries](
	[ogr_fid] [int] IDENTITY(1,1) NOT NULL,
	[ogr_geometry] [geometry] NULL,
	[country] [nvarchar](max) NULL,
 CONSTRAINT [PK_world_countries] PRIMARY KEY CLUSTERED 
(
	[ogr_fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [#Order_index]    Script Date: 19.04.2023 20:22:15 ******/
CREATE NONCLUSTERED INDEX [#Order_index] ON [dbo].[Orders]
(
	[customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [#Tours_index]    Script Date: 19.04.2023 20:22:15 ******/
CREATE NONCLUSTERED INDEX [#Tours_index] ON [dbo].[Tours]
(
	[tourName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [#Voucher_index]    Script Date: 19.04.2023 20:22:15 ******/
CREATE NONCLUSTERED INDEX [#Voucher_index] ON [dbo].[Vouchers]
(
	[voucherName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [My_XML_Index]    Script Date: 19.04.2023 20:22:15 ******/
CREATE PRIMARY XML INDEX [My_XML_Index] ON [dbo].[Report]
(
	[xml_column]
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [Country_ID_FK] FOREIGN KEY([CountryMap])
REFERENCES [dbo].[world_countries] ([ogr_fid])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [Country_ID_FK]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([idVoucher])
REFERENCES [dbo].[Vouchers] ([idVoucher])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([idCountry])
REFERENCES [dbo].[Countries] ([idCountry])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([idOperator])
REFERENCES [dbo].[Touroperators] ([idOperator])
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD FOREIGN KEY([idTour])
REFERENCES [dbo].[Tours] ([idTours])
GO
/****** Object:  StoredProcedure [dbo].[addCountries]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[addCountries]
	@country nvarchar(50),
	@visa bit,
	@countryMapId int
as
begin 
insert into Countries(country, visa, CountryMap)
values(@country, @visa, @countryMapId)
end
GO
/****** Object:  StoredProcedure [dbo].[addOperator]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---- Operators
create procedure [dbo].[addOperator]
	@name nvarchar(150),
	@phoneNumber nvarchar(11)
as
begin 
insert into Touroperators(name, phoneNumber)
values(@name, @phoneNumber)
end
GO
/****** Object:  StoredProcedure [dbo].[AddOrders]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------Orders-------------------------------
create procedure [dbo].[AddOrders]
	@idVoucher int,
	@customer nvarchar(255),
	@pay bit
as
begin 
insert into Orders(idVoucher,customer, pay)
values(@idVoucher,@customer, @pay)
end
GO
/****** Object:  StoredProcedure [dbo].[AddTour]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- Tours----------------------------------------
create procedure [dbo].[AddTour]
	@idCountry int,
	@idOperator int,
	@tourName nvarchar(255),
	@descr nvarchar(255)
as
begin 
insert into Tours(idCountry,idOperator, tourName, descr)
values(@idCountry,@idOperator, @tourName, @descr)
end
GO
/****** Object:  StoredProcedure [dbo].[AddVoucher]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddVoucher]
	@idTour int,
	@voucherName nvarchar(255),
	@descr nvarchar(255),
	@price money,
	@numberOfPeople int,
	@nutrition bit,
	@accommodation bit,
	@hot bit,
	@discount int
as
begin 
insert into Vouchers(idTour,voucherName, descr, price, numberOfPeople,nutrition, accommodation,hot,discount)
values(@idTour,@voucherName, @descr,@price,@numberOfPeople,@nutrition,@accommodation,@hot,@discount )
end
GO
/****** Object:  StoredProcedure [dbo].[CalculateTourIntersection]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CalculateTourIntersection] 
    @tourId1 int,
    @tourId2 int
AS
BEGIN
    DECLARE @tour1Route geometry;
    DECLARE @tour2Route geometry;
    
    SELECT @tour1Route = tourRoute
    FROM tours
    WHERE idTours = @tourId1;

    SELECT @tour2Route = tourRoute
    FROM tours
    WHERE idTours = @tourId2;
    
    DECLARE @intersection geometry;
    SET @intersection = @tour1Route.STIntersection(@tour2Route);
    
    SELECT @intersection.ToString() AS intersection;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCountry]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeleteCountry]
	@country nvarchar(50)
as 
begin
	delete Countries where country = @country;
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteOperator]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeleteOperator]
	@name nvarchar(150)
as 
begin
	delete Touroperators where name = @name;
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteOrder]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeleteOrder]
	@customer nvarchar(255)
as 
begin
	delete Orders where customer = @customer;
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteTour]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[DeleteTour]
	@idTours int
as 
begin
	delete Tours where idTours = @idTours;
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteVoucher]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeleteVoucher]
	@voucherName nvarchar(255)
as 
begin
	delete Vouchers where voucherName = @voucherName;
end
GO
/****** Object:  StoredProcedure [dbo].[generateXML]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[generateXML]
as
declare @x XML
set @x = (Select t.tourName[назание тура], v.voucherName[название путевки], tro.name[имя оператора], 
					GETDATE() [дата]
	from Vouchers v join Tours t on v.idTour = t.idTours
	join Touroperators tro on tro.idOperator = t.idOperator
	FOR XML AUTO);
	SELECT @x
GO
/****** Object:  StoredProcedure [dbo].[getCountries]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[getCountries] as
begin
	select * from Countries
end
GO
/****** Object:  StoredProcedure [dbo].[getCountriesByName]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[getCountriesByName] 
	@country nvarchar(50)
as
begin
	select * from Countries where country = @country;
end
GO
/****** Object:  StoredProcedure [dbo].[gethierarchyById]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[gethierarchyById] @id hierarchyid
as
begin
																			--является ли потомком
select node.ToString()[string], node.GetLevel()[level], * from Vouchers where node.IsDescendantOf(@id) = 1;
end;
GO
/****** Object:  StoredProcedure [dbo].[GetOperatorByName]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetOperatorByName] 
	@name nvarchar(150)
as
begin
	select * from Touroperators where name = @name;
end
GO
/****** Object:  StoredProcedure [dbo].[GetOperators]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[GetOperators] as
begin
	select * from Touroperators
end
GO
/****** Object:  StoredProcedure [dbo].[GetOrderByCustomer]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetOrderByCustomer]
	@customer nvarchar(255)
as
begin
	select * from Orders where customer = @customer;
end
GO
/****** Object:  StoredProcedure [dbo].[GetOrders]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[GetOrders] as
begin
	select * from Orders
end
GO
/****** Object:  StoredProcedure [dbo].[GetTourByName]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetTourByName] 
	@tourName nvarchar(255)
as
begin
	select * from Tours where tourName = @tourName;
end
GO
/****** Object:  StoredProcedure [dbo].[GetTourDistance]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetTourDistance]
    @tourId1 int,
    @tourId2 int
AS
BEGIN
    DECLARE @route1 geometry;
    DECLARE @route2 geometry;
    DECLARE @distance float;
    -- Get the tour routes for the given tour IDs
    SELECT @route1 = tourRoute
    FROM tours
    WHERE idTours = @tourId1;

    SELECT @route2 = tourRoute
    FROM tours
    WHERE idTours = @tourId2;
    -- Calculate the distance between the routes
    SET @distance = @route1.STDistance(@route2);
    -- Print the result
    PRINT @distance
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTours]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[GetTours] as
begin
	select * from Tours
end
GO
/****** Object:  StoredProcedure [dbo].[GetVoucherByName]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetVoucherByName] 
	@voucherName nvarchar(255)
as
begin
	select * from Vouchers where voucherName = @voucherName;
end
GO
/****** Object:  StoredProcedure [dbo].[GetVouchers]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[GetVouchers] as
begin
	select * from Vouchers
end
GO
/****** Object:  StoredProcedure [dbo].[InsertInReport]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertInReport]
as
DECLARE  @s XML  
SET @s = (Select	t.tourName[назание тура], v.voucherName[название путевки], tro.name[имя оператора], 
					GETDATE() [дата]
		from Vouchers v join Tours t on v.idTour = t.idTours
	join Touroperators tro on tro.idOperator = t.idOperator
for xml raw);
--FOR XML AUTO, TYPE);
insert into Report values(@s);
GO
/****** Object:  StoredProcedure [dbo].[insertValue]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[insertValue]
@hid hierarchyid, @idTour int, @voucherName nvarchar(255), @descr nvarchar(255), @price money, @numberOfPeople int, @nutrition bit, @accommodation bit, @hot bit, @discount int
as
begin
declare @LCV hierarchyid
begin transaction
		select @LCV=max(node)
		from Vouchers where
		node.GetAncestor(1)=@HID;
		INSERT INTO Vouchers(node,idTour,voucherName,descr, price, numberOfPeople, nutrition, accommodation, hot, discount) 
		values(@HID.GetDescendant(@LCV,NULL),@idTour,@voucherName,@descr,@price,@numberOfPeople,@nutrition,@accommodation,@hot,@discount);
					commit;
end;
GO
/****** Object:  StoredProcedure [dbo].[MoveBranche]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[MoveBranche]  @oldparent hierarchyid,
							@newparent hierarchyid
as begin
DECLARE children_cursor CURSOR FOR  
	SELECT node FROM Vouchers
		WHERE node.GetAncestor(1) = @OldParent; 
		
DECLARE @ChildId hierarchyid;  
	OPEN children_cursor  
		FETCH NEXT FROM children_cursor INTO @ChildId;	
		
WHILE @@FETCH_STATUS = 0  
BEGIN  
START:  
    DECLARE @NewId hierarchyid;  
    SELECT @NewId = @NewParent.GetDescendant(MAX(node), NULL)  
    FROM Vouchers WHERE node.GetAncestor(1) = @NewParent;  

    UPDATE Vouchers
							--перемещает узел от старого к новому
    SET node = node.GetReparentedValue(@ChildId, @NewId)  
		WHERE node.IsDescendantOf(@ChildId) = 1;  

    IF @@error <> 0 GOTO START  
        FETCH NEXT FROM children_cursor INTO @ChildId;  
END  
CLOSE children_cursor;  
DEALLOCATE children_cursor;  
end;
GO
/****** Object:  StoredProcedure [dbo].[SelectData]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SelectData]
as
select xml_column.query('/row')
	as[xml_column]
	from Report
	for xml auto, type;
GO
/****** Object:  StoredProcedure [dbo].[UpdateCountries]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateCountries]
	@country nvarchar(50),
	@visa bit
as
begin
	update Countries
	set visa = @visa where country = @country
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateOperator]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateOperator]
	@name nvarchar(150),
	@phoneNumber nvarchar(11)
as
begin
	update Touroperators
	set phoneNumber = @phoneNumber where name = @name
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrder]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateOrder]
	@idVoucher int,
	@customer nvarchar(255),
	@pay bit
as
begin
	update Orders
	set idVoucher = @idVoucher, pay = @pay where customer = @customer
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateTour]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create   procedure [dbo].[UpdateTour]
	@idTours int,
	@idCountry int,
	@idOperator int,
	@tourName nvarchar(255),
	@descr nvarchar(255)
as
begin
	update Tours
	set idCountry = @idCountry, idOperator = @idOperator, descr = @descr, tourName = @tourName where idTours = @idTours
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateVoucher]    Script Date: 19.04.2023 20:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateVoucher]
	@idTour int,
	@voucherName nvarchar(255),
	@descr nvarchar(255),
	@fullPrice money,
	@price money,
	@numberOfPeople int,
	@nutrition bit,
	@accommodation bit,
	@hot bit,
	@discount int
as
begin
	update Vouchers
	set idTour = @idTour, descr = @descr, price = @price, numberOfPeople = @numberOfPeople,
	nutrition= @nutrition, accommodation = @accommodation, hot = @hot, discount = @discount where voucherName = @voucherName
end
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [idx_world_countries_geom]    Script Date: 19.04.2023 20:22:15 ******/
CREATE SPATIAL INDEX [idx_world_countries_geom] ON [dbo].[world_countries]
(
	[ogr_geometry]
)USING  GEOMETRY_AUTO_GRID 
WITH (BOUNDING_BOX =(-180, -90, 180, 90), 
CELLS_PER_OBJECT = 8, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [ogr_dbo_world_countries_ogr_geometry_sidx]    Script Date: 19.04.2023 20:22:15 ******/
CREATE SPATIAL INDEX [ogr_dbo_world_countries_ogr_geometry_sidx] ON [dbo].[world_countries]
(
	[ogr_geometry]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(-180, -90, 180, 83.6235961914063), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
